<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Liquidity Distribution</title>
  </head>
  <body>
    <script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
    <div id="app"></div>
  </body>
</html>
