<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Liquidity Distribution</title>
  </head>
  <body style="margin: 0; background-color: #e1e2ea">
    <div id="app"></div>
  </body>
</html>
